@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 87.6%; 
  margin: 0 auto;
}

body{
  background: url("shelf-bg.jpg");
}

.container{
  margin: 0 10.5% 0 9.5% ;
  background-color: #FFFFFF;
}
/*=================================
  Header styling starts here
=================================*/

header{
  background: url("https://via.placeholder.com/983x423") 50% 50% no-repeat;
  background-size: cover;
  padding-top: 57px;
  border-bottom: 10px solid #1262A0;
}

h1{
  font-size: 49px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 22px;
  padding-left: 7px;
  
}

h1 a{
  color: #FFFFFF;
}

header span{
  font-size: 21.5px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000;
  padding-left: 7px;
}

.navigation-bar{
  background-color: rgba(0,0,0,0.5);
}

nav ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: 78px;
  align-items: center;

}

nav li a{
  font-size: 21.5px;
  color: #FFFFFF;
  text-transform: capitalize;
}

header div:nth-child(1){
  margin-bottom: 227px;
}


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* welcome section start */

.wrapper-two{
  width: 91.1%;
  margin: 0 auto;
}
.welcome{
  padding-top: 78px;
}

h2{
  font-size: 31px;
  color: #6C6C6C;
  letter-spacing: 1px;
  margin-bottom: 19px;
}

.welcome p{
  font-size: 17.5px;
  color: #6C6C6C;
  letter-spacing: 0.2px;
  line-height: 32px;
  word-spacing: 1px;
  padding-bottom: 56px;

}

.gallery a{
  display: block;
  text-align: center;
}

.gallery ul{
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.gallery li a:nth-child(2){
  font-size: 17.5px;
  color: #6C6C6C;
  letter-spacing: 0.2px;
  word-spacing: 1px;
  margin-bottom: 48px;

}

.gallery figure{
  margin-bottom: 20px;
}

.pagination-bar a{
  width: 47px;
  height: 47px;
  background-color: #EEEEEE;
  color: #6C6C6C;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
}

.pagination-bar{
  width: 22%;
  margin: 0 auto;
  margin-bottom: 68px;
  margin-top: 33px;
}

.pagination-bar .active a{
  background-color: #1262A0;
  color: #FFFFFF;
}
/* welcome section end */


/* help section start */
.help{
  margin-bottom: 68px;
}

.help .wrapper-two{

  background-color:#1262A0 ;
  box-sizing: border-box;
  padding: 0 8.9%;
  display: flex;
  justify-content: space-between;
}

.fa-meetup{
  font-size: 104px;
  color: #FFFFFF;
  padding-top: 69px;
}
.help-box{
  display: inline-block;
  width: 80%;
  padding-top: 53px;
  padding-bottom: 50px;
}

.help-box h2{
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.help-box p{
  font-size: 17.5px;
  color: #FFFFFF;
  letter-spacing: 0.2px;
  line-height: 32px;
  word-spacing: 1px;
  padding-bottom: 22px;
}

.help-box a{
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  text-transform: capitalize;
  letter-spacing: 0.2px;
  font-size: 17.5px;
  box-sizing: border-box;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19.5%;
}
/* help section end */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer{

  background-color: #323232;
  box-sizing: border-box;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a{
  color: #FFFFFF;
  font-size: 17.5px;
  letter-spacing: 0.2px;
  
}

 /*=================================
  footer styling ends here
=================================*/ 